.app-activity-bg {
	position: absolute;
	margin-bottom: -3px;
	height: 3px;
	top: 0;
	background-color: darken(@c_background, 10%);
	width: 100%;
	z-index: 1001;
	overflow: hidden;
	opacity: 0; 
	transition: opacity 0.1s linear;
}
	.app-activity-bg.app-activity-active {
		opacity: 1;
	}

.app-activity-slider {
	width: 100%;
	height: 3px;
	position: absolute;
	background-color: @c_primary;
}
	.app-activity-active .app-activity-slider {
		-webkit-animation: app-activity 1.5s -0.75s infinite;
		-mox-animation: app-activity 1.5s -0.75s infinite;
		animation: app-activity 1.5s -0.75s infinite;
	}

@-webkit-keyframes app-activity {
	0% { width: 0%; left: 0%; }
	50% { width: 100%; left: 0%; }
	100% { left: 100%; width: 0%; }
}

@-moz-keyframes app-activity {
	0% { width: 0%; left: 0%; }
	50% { width: 100%; left: 0%; }
	100% { left: 100%; width: 0%; }
}

@keyframes app-activity {
	0% { width: 0%; left: 0%; }
	50% { width: 100%; left: 0%; }
	100% { left: 100%; width: 0%; }
}


.btn.btn-default {
	border-color: #e2e2e2;
	background-color: #eee;
	color: @c_primary;	
	&:hover, 
	&.active {
		color: @c_primaryDark;
		background-color: #ddd;
		border-color: #d2d2d2;
		
	}
	&.dropdown-toggle {
		border-color: #e2e2e2;
	}
	outline: none;
}
.btn.btn-alternate {
	border-color: darken(@c_alternate, 0%);
	background-color: @c_alternate;
	color: @c_alternate_fg;

	&:hover,
	.active {
		background-color: darken(@c_alternate, 5%);
		border-color: darken(@c_alternate, 5%);
	}
	&.dropdown-toggle {
		border-left-color: darken(@c_alternate, 5%);
	}
}
.btn-primary {
	border-color: @c_primary;
	background-color: @c_primary;
	color: #fff;

	&:hover,
	.active {
		background-color: darken(@c_primary, 10%);
		border-color: darken(@c_primary, 10%);
	}
}

.btn-group>.btn {
	padding: 5px 12px;
}

.dropdown-menu span.fa {
	margin-right: 0.5em;
}

.modal-content {
	box-shadow: 2px 2px 7px rgba(0,0,0,0.15);
	border-radius: 0;
	border-color: #ddd;

}
.modal-backdrop {
	bottom: 0;
}
	.modal-exception .modal-dialog {
		
		color: @c_error;
	}
.navbar.navbar-high {
	height: 80px;
}
.navbar-high .nav > li > a {
	padding: 30px 15px;
	font-size: 14pt;
	font-weight: 300;
	//color: #fff;
}

.navbar.navbar-high {
	background-color: @c_background;
	border-bottom: 1px dotted #ccc;
	//background-color: @c_primary;
	//color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: @c_primary;
	
}

	.badge {
		background-color: @c_primary;
	}

.container-fluid {
	margin-left: 30px;
	margin-right: 30px;
}



	.toolbar {
		margin-top: 10px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		apadding-top: 10px;
		float: left;
		width: 100%;
		clear: both;
		box-sizing: border-box;

	}

		.toolbar.toolbar-box {
			padding: 10px;
			background-color: @c_box;
		}
	.toolbar-items a.btn {
		margin-top: -7px;
		margin-bottom: -7px;

	}
	.toolbar-items-left {
		float: left;
		a {
			margin-right: 15px;
		}
	}

	.toolbar-items-right {
		float: right;
		a {
			margin-left: 15px;
		}
	}
		.toolbar-nav {
			float: left;
			margin-top: -20px;
			margin-bottom: -20px;
		}

		.toolbar-nav a {
			border-right: 1px solid #ccc;
			display: block;
			float: left;
			padding: 20px;
		}


			.toolbar-nav a:first-child {
				border-left: 1px solid #ccc;
			}
				.toolbar-nav a.active {
					background-color: @c_primary;
					color: #fff;
				}

		.toolbar-items a {
			font-weight: 500;
			font-size: 13pt;
			
		}

		.toolbar.toolbar-top {
			aborder-bottom: 1px inset #ccc;
			padding-left: 20px;
			padding-right: 20px;
			background-color: @c_box;
			padding: 20px;
			box-shadow: @s_box;

		}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		background-color: transparent;
		border-color: #ccc;
		border-bottom-color: @c_background;

	}


	.nav-center.nav-tabs > li, .nav-center.nav-pills > li {
		float:none;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */
	}

.nav-center.nav-tabs, .nav-center.nav-pills {
    text-align:center;
    border-color: #ccc;
}

.kv {
		overflow: hidden;
	}
	
	.kv-key {
		clear: both;
		float: left;
	}
	.kv-value {
		float: right;
		clear: right;
	}
	.kv.kv-key-bold .kv-key {
		font-weight: 600;
	}
	.kv.kv-value-bold .kv-value {
		font-weight: 600;
	}
		.kv.kv-space {
			margin-bottom: 1em;
		}
		.kv.kv-border {
			border-top: 1px dotted #ccc;
		}